<div class="row">
        <table class="table table-striped">
            <thead>
                <th class="tCenter">#</th>
                <th class="tLeft">Nome</th>
                <th class="tCenter">Pokemon Capturado</th>
                <th class="tRight">Ação</th>
            </thead>
            <tbody>
                <tr ng-repeat="treinador in service.listaTreinadores track by $index">
                    <td class="tCenter">{{treinador.id}}</td>
                    <td class="tLeft">{{treinador.nome}}</td>
                    <td class="tCenter"><select><option ng-repeat="pokemon in treinador.pokemons">{{pokemon.nome}}</option></select></td>
                    <td class="tRight">
                        <button class="btn btn-danger" ng-click="excluir($index)" ng-show="service.captura">X</button>
                        <button class="btn btn-success" ng-click="editar(treinador)" ng-show="service.captura">✏️</button>
                        <button class="btn btn-warning" ng-click="capturar(treinador)" ng-show="!service.captura">CAPTURAR</button>
                    </td>
                </tr>
                <tr ng-show="!service.listaTreinadores.length && !acaoCadastrar" class="tCenter">
                    <td colspan="4">
                        Nenhum Treinador cadastrado!
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-outline-primary" ng-click="irTelaCadastrar()" ng-show="service.captura">[+] Novo Treinador</button>
        <button class="btn btn-outline-primary" ng-click="voltar()" ng-show="service.captura">[-] Voltar</button>
    </div>