<div class="row">
        <table class="table table-striped">
            <thead>
                <th class="tCenter">#</th>
                <th class="tLeft">Nome</th>
                <th class="tCenter">Tipo</th>
                <th class="tRight">Ação</th>
            </thead>
            <tbody>
                <tr ng-repeat="pokemon in service.listaPokemons track by $index">
                    <td class="tCenter">{{pokemon.id}}</td>
                    <td class="tLeft">{{pokemon.nome}}</td>
                    <td class="tCenter">{{pokemon.tipo.descricao}}</td>
                    <td class="tRight">
                        <button class="btn btn-danger" ng-click="excluir($index)">X</button>
                        <button class="btn btn-success" ng-click="editar(pokemon)">✏️</button>
                        <button class="btn btn-success" ng-click="capturar(pokemon)">Capturar</button>
                    </td>
                </tr>
                <tr ng-show="!service.listaPokemons.length && !acaoCadastrar" class="tCenter">
                    <td colspan="4">
                        Nenhum Pokemon cadastrado!
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-outline-primary" ng-click="irTelaCadastrar()">[+] Novo Pokemon</button>
        <button class="btn btn-outline-primary" ng-click="voltar()">[-] Voltar</button>
    </div>